
#span-1{
    display:inline-block;
    background-color: #f5c6d6;
    width: 1349px;
    height: 90px;
    border: 2px;
        margin: 1px auto;
}
#span-2{
    display: inline-block;
    background-color:#ee2e84 ;
    width: 1349px;
    height: 90px;
    border: 2px;
    margin: 1px;
}
#span-3{
    display: inline-block;
    background-color: #ee2e84 ;
    width: 1349px;
    height: 90px;
    border: 2px;
    margin: 1px;
}
#span-4{
    display:inline;
    background-color: #ee2e84 ;
    width: 1349px;
    height: 90px;

}

#span-5{
    display:inline-block;
    background-color: #ee2e84  ;
    width: 1349px;
    height: 90px;
    border: 2px;
        margin: 1px auto;
}

#span-6{
    display:inline-block;
    background-color: #85cfd8 ;
    width: 1349px;
    height: 90px;
    border: 2px;
        margin: 1px auto;

}

#span-7{
    display:inline-block;
    background-color: #85cfd8 ;
    width: 1349px;
    height: 90px;
    border: 2px;
        margin: 1px auto;

}
#span-8{
    display:inline-block;
    background-color: #8dc63f;
    width: 1349px;
    height: 90px;
    border: 2px;
        margin: 1px auto;
}
#span-9{
    display:inline-block;
    background-color:#e76e34 ;
    width: 1349px;
    height: 90px;
    border: 2px;
        margin: 1px auto;

}
